body {
  margin: 0;
  font-style: normal;
  color: #102463;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p, h1, hr {
  margin: 0;
}

.container {
  padding: 5%;
}

button {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 109.1%;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  min-width: 137px;
  min-height: 40px;
}
.primary {
  color: #2E6CC6;
  background-color: #FCFEFF;
  border: 0.5px solid #2E6CC6;
}
.active {
  color: #FCFEFF;
  background: linear-gradient(170.97deg, #2E6CC6 -7.05%, #00DB90 119.29%);
  border: none;
}
.container-header {
  padding-bottom: 30px;
}

.container-header-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  text-align: center;
  padding-bottom: 34px;
}

.container-header,
.chart-container,
.undistributed-icome-chart-container,
.spending-years-chart-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.container-header {
  gap: 0px;
}
.container-header-separator {
  background: linear-gradient(to right, #2E6CC6, #00DB90);
  margin-bottom: 45px;
}
.container-header-alert {
  background: #FCFEFF;
  border: 0.3px solid #102463;
  border-radius: 6px;
  padding-top: 9px;
  padding-left: 10px;
  padding-right: 14px;
  padding-bottom: 9px;
}
.header-alert-container-content,
.header-alert-container-icons,
.container-header-average-month,
.years-container,
.bank-details {
  display: flex;
  flex-direction: row;
  gap: 21.67px;
  align-items: center;
}
.header-alert-container-icons {
  gap: 20.67px;
}

.container-header-average-month {
  justify-content: space-between;
  padding-top: 76px;
}
.container-header-average-month-content {
  display: flex;
  flex-direction: column;
}
.container-header-average-month-content p {
  font-weight: 500;
  font-size: 20px;
  line-height: 44px;
}
.container-header-average-month-content b {
  font-weight: 700;
  color: #2E6CC6;
}
.industributed-income a {
  font-weight: 700;
  color: #102463;
}

.years-container {
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}
.offer-available-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.offer-available-content-description {
  font-size: 10px;
  text-align: start;
  padding-bottom: 26px;
}
.bank-details {
  gap: 24px;
}
.bank-name,
.total-expected-amount {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #2E6CC6;
}
.bank-name span {
  font-weight: 400;
}
.bank-name,
.total-expected-amount {
  display: flex;
  flex-direction: column;
}
.total-expected-amount span {
  font-size: 14px;
  line-height: 20.94px;
  font-weight: 400;
  text-align: start;
}


@media (min-width:834px) {
  .container-header-title{
    font-size: 64px;
    line-height: 75px;
  }
  .industributed-income {
    font-size: 24px;
    line-height: 33px;
  }
  .container-header-average-month {
    justify-content: center;
    align-items: baseline;
  }
  .container-header-average-month-content {
    flex-direction: row;
    gap: 26px;
    align-items: center;
  }
  .container-header-average-month-content p {
    font-size: 32px;
    line-height: 44px;
  }
  .offer-available-content {
    flex-direction: row;
    gap: 0;
  }
  .bank-details,
  .total-expected {
    padding-left: 58px;
    padding-right: 58px;
  }
  .bank-details {
    border-right: 1px solid #D5E2F4;
  }
  .total-expected-amount {
    font-size: 36px;
    line-height: 53.86px;
  }
}

@media (min-width:1024px) {
  .container-header-alert {
    max-width: fit-content;
    margin: auto;
  }
  .header-alert-container-description {
    font-size: 20px;
  }
  .chart-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .years-container {
    gap: 18px;

  }
  .offer-available-content-description {
    text-align: center;
  }
  .container-header-average-month{
    padding-bottom: 224.37px;
  }
  .container-header-average-month-content b {
    font-size: 40px;
  }
  
  .total-expected {
    padding-right: 0;
  }
  .bank-details {
    padding-left: 0;
  }
}